@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
                <img src="~/lib/bootstrap-admin/img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">Admin</h2><span>超级管理员</span>
            </div>
            <!-- Small Brand information, appears on minimized sidebar-->
            <div class="sidenav-header-logo">
                <a href="/Admin/Home" class="brand-small text-center">
                    <strong>B</strong><strong class="text-primary">D</strong>
                </a>
            </div>
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Main</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li>
                    <a href="/Admin/Home"> <i class="icon-home"></i>首页</a>
                </li>
                <li>
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>内容管理</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li>
                            <a href="#">内容列表</a>
                        </li>
                        <li>
                            <a href="#">新增内容</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#exampledropdownDropdown2" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>内容分类</a>
                    <ul id="exampledropdownDropdown2" class="collapse list-unstyled ">
                        <li>
                            <a href="/Admin/PostCategory/List">分类列表</a>
                        </li>
                        <li>
                            <a href="/Admin/PostCategory/Add">新增分类</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Admin/Auth/UserInfo"> <i class="icon-user"></i>用户信息 </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page">
    <!-- navbar-->
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a id="toggle-btn" href="#" class="menu-btn">
                            <i class="icon-bars"> </i>
                        </a>
                        <a href="/Admin/Home" class="navbar-brand">
                            <div class="brand-text d-none d-md-inline-block">
                                <strong class="text-primary">管理后台</strong>
                            </div>
                        </a>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Log out-->
                        <li class="nav-item">
                            <a href="/Admin/Auth/Logout" class="nav-link logout">
                                <span class="d-none d-sm-inline-block">退出登陆</span><i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <p>fandu &copy; 2019-2019</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">Bootstrapious</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>