<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>凡渡-管理后台</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/css/fontastic.css">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/lib/bootstrap-admin/css/custom.css">

    <link rel="stylesheet" href="~/lib/trumbowyg/dist/ui/trumbowyg.min.css"/>
</head>
<body>
@RenderBody()
<!-- JavaScript files-->
<script src="~/lib/bootstrap-admin/vendor/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap-admin/vendor/popper.js/umd/popper.min.js"> </script>
<script src="~/lib/bootstrap-admin/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap-admin/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
<script src="~/lib/bootstrap-admin/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="~/lib/bootstrap-admin/vendor/chart.js/Chart.min.js"></script>
<script src="~/lib/bootstrap-admin/vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="~/lib/bootstrap-admin/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Main File-->
<script src="~/lib/bootstrap-admin/js/front.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>