@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
    ViewBag.Title = "产品类别";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="logo-color">@ViewBag.Title</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="images/img4.png"/>
    </div>
    <div class="pl-4 product-a-box">
        <div class="row text-center py-3">
            <div class="col-4">
                <a href="#">类别1</a>
            </div>
            <div class="col-4">
                <a href="#">类别2</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>
            <div class="col-4">
                <a href="#">类别3</a>
            </div>¬
        </div>
    </div>
</div>