@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">修改密码成功。 </h1>
        </header>
        <a href="/admin" class="btn btn-primary">重新登陆</a>
    </div>
</section>