@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">修改密码失败，请检查。 </h1>
        </header>
        <a href="/Admin/Auth/UserInfo" class="btn btn-primary">重新修改</a>
    </div>
</section>