@model ChangePasswordViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item active">用户信息 </li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">用户信息 </h1>
        </header>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>修改密码</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-route="/Area/Auth/UserInfo">
                            <div class="form-group">
                                <label>旧密码</label>
                                <input type="password" asp-for="OldPassword" placeholder="请输入旧密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>新密码</label>
                                <input type="password" asp-for="NewPassword" placeholder="请输入新密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>确认新密码</label>
                                <input type="password" asp-for="NewPasswordConfirmed" placeholder="请再次输入新密码" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="修改" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>