@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
}

@model IEnumerable<Post>
<p>
    <div>

        <img src="images/04.jpg" alt="" width="223" height="157"/>
        凡渡是一家巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉企业，创立于XXXX年，主要从事XXXXXX的一家XXXX公司。
    </div>
</p>