@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="logo-color">产品中心</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/img4.png"/>
    </div>
    <div class="d-flex justify-content-center">
        <span style="font-size: 0.8rem; margin-top: 4px;">我们产品的高质量源于对细节的精确</span>
    </div>
    <div class="prod-nav-container">
        <div class="prod-nav mt-3">
            <div class="item">
                <a href="#" class="text-light">类型</a>
            </div>
            <div class="item">
                <a href="#" class="text-light">类型</a>
            </div>
            <div class="item">
                <a href="#" class="text-light">类型</a>
            </div>
            <div class="item">
                <a href="#" class="text-light">更多分类</a>
            </div>
        </div>
        <div class="d-flex prod-nav-content mt-3">
            <div class="prod-nav-left" style="background-image: url('/images/04.jpg')">
                <div class="prod-title-box">
                    <a href="#" class="text-light">暂无</a>
                </div>
            </div>
            <div class="prod-nav-right ">
                <div class=" d-flex">
                    <div class="prod-nav-small" style="background-image: url('/images/04.jpg')">
                        <div class="prod-title-box">
                            <a href="#" class="text-light">暂无</a>
                        </div>
                    </div>
                    <div class="prod-nav-small" style="background-image: url('/images/04.jpg')">
                        <div class="prod-title-box">
                            <a href="#" class="text-light">暂无</a>
                        </div>
                    </div>
                    <div class="prod-nav-small" style="background-image: url('/images/04.jpg')">
                        <div class="prod-title-box">
                            <a href="#" class="text-light">暂无</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <div class="prod-nav-small" style="background-image: url('/images/04.jpg')">
                        <div class="prod-title-box">
                            <a href="#" class="text-light">暂无</a>
                        </div>
                    </div>
                    <div class="prod-nav-small" style="background-image: url('/images/04.jpg')">
                        <div class="prod-title-box">
                            <a href="#" class="text-light">暂无</a>
                        </div>
                    </div>
                    <div class="prod-nav-small" style="">
                        <div class="prod-title-box">暂无</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-second-banner mt-3 bg-dark">
</div>

<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <h3 class="logo-color">关于我们</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/img4.png"/>
    </div>
    <div class="d-flex justify-content-center">
        <span style="font-size: 0.8rem; margin-top: 4px;">我们产品的高质量源于对细节的精确</span>
    </div>

    <div class="d-flex mt-3">
        <div>凡渡是一家巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉企业</div>
        <img src="images/img5.png" style="height: 330px;"/>
    </div>
</div>