@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">首页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">网站地图</li>
        </ol>
    </nav>

    <div class="mt-2 post-body">
        <h4>
            <a href="/">首页</a>
        </h4>
        <h4 class="mt-5">
            <a href="/Post/ProductCategory">产品分类</a>
        </h4>
        <h4>
            <a href="/Post/ProductList">产品列表</a>
        </h4>
        <h4 class="mt-5">
            <a href="/Post/NewsList">新闻列表</a>
        </h4>
        <h4 class="mt-5">
            <a href="/Post/Display">空间展示</a>
        </h4>
        <h4 class="mt-5">
            <a href="/Post/Support">技术支持</a>
        </h4>
        <h4 class="mt-5">
            <a href="/Post/AboutUs">关于我们</a>
        </h4>
        <h4 class="my-5">
            <a href="/Post/ContactUs">联系我们</a>
        </h4>
    </div>
</div>