.blog-header {
    height: 28px;
    font-size: 0.75rem;
}

body .container {
    width: 1140px !important;
    max-width: 1140px !important;
}

body {
    min-width: 1300px;
}

.blog-header-logo {
    margin-top: 37px;
    z-index: 9999;
}

.blog-header-logo img {
    height: 70px;
}

#carouselExampleControls {
    /** margin-top: -40px;**/
}

#navbarMain {
    background-color: #383032 !important;
}

.carousel-inner {
    height: 450px;
}

.carousel-inner img {
    height: 450px;
}

.web-nav .nav-item a {
    text-shadow: 2px 2px 4px black;
}

.navbar-fixed {
    background-color: #383032 !important;
    border-bottom: 1px solid;
}

footer {
    height: 150px;
    background-color: #383032 !important;
    color: #c7c0c4;
    font-size: 0.75rem;
}

.logo-color {
    color: #e17836;
    font-family: SimSun;
}

.main-color {
    color: #e17836;
}

.product-a-box a {
    color: black;
}

.post-body img {
    max-width: 100% !important;
}

.prod-nav {
    display: flex;
}

.prod-nav .item {
    flex: 1;
    color: #cfcdce;
    text-align: center;
    padding: 12px 0;
}

.prod-nav .item:nth-child(1) {
    background: #383033;
}

.prod-nav .item:nth-child(2) {
    background: #464143;
}

.prod-nav .item:nth-child(3) {
    background: #6f696b;
}

.prod-nav .item:nth-child(4) {
    background: #9e9b9c;
}

.prod-nav-left {
    flex: 4;
    position: relative;
    background: white no-repeat center;
    background-size: cover;
}

.prod-nav-right {
    flex: 6;
}

.prod-nav-small {
    flex: 1;
    height: 180px;
    margin-left: 16px;
    position: relative;
    background: white no-repeat center;
    background-size: cover;
}

.prod-nav-container {
    text-align: center;
}

.prod-title-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    color: #cfcdce;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #f4f4f4 !important;
}

.home-second-banner {
    height: 500px;
    width: 100%;
    background: url("../images/img1.jpg") no-repeat center;
    background-size: cover;
}

.more-href{
    color: #e17836;
}

.list-left{
    width: 540px !important;
    height:360px;
    border-radius: .25rem;
}
.list-right{
    padding-left: 10px;
    width: 570px;
}

    
