.blog-header {
    height: 70px;
    font-size: 0.75rem;
}

* {
    font-family: Arial, 'Times New Roman', 'YouYuan', 'SimHei', 'Hiragino Sans GB', 'Microsoft YaHei', SimHei;
}

body .container {
    width: 1140px !important;
    max-width: 1140px !important;
}

body {
    min-width: 1300px;
}

.blog-header-logo {
    z-index: 9999;
}


.blog-header-logo img {
    height: 60px;
}

#carouselExampleControls {
    /** margin-top: -40px;**/
}

#navbarMain {
    padding: 2px 0;
}

#navbarMain .nav-item a {
    color: black;
}

.nav-item:hover, .nav-item .active {
    font-weight: bold;
    /*background-color: #F0F1F2;*/
}

.carousel-inner {
    height: 450px;
}

.carousel-inner img {
    height: 450px;
}

.navbar-fixed {
    /*background-color: #383032 !important;*/
    /*border-bottom: 1px solid;*/
}

footer {
    height: 150px;
    background-color: white !important;
    color: black;
    font-size: 0.75rem;
}

.logo-color {
    color: black;
}

.main-color {
    color: #e17836;
}

.product-a-box a {
    color: black;
}

.post-body img {
    max-width: 100% !important;
}

.prod-nav {
    display: flex;
}

.prod-nav .item {
    flex: 1;
    color: #cfcdce;
    text-align: center;
    padding: 12px 0;
}

.prod-nav .item:nth-child(1) {
    background: #383033;
}

.prod-nav .item:nth-child(2) {
    background: #464143;
}

.prod-nav .item:nth-child(3) {
    background: #6f696b;
}

.prod-nav .item:nth-child(4) {
    background: #9e9b9c;
}

.prod-nav-left {
    flex: 4;
    position: relative;
    background: white no-repeat center;
    background-size: cover;
}

.prod-nav-right {
    flex: 6;
}

.prod-nav-small {
    flex: 1;
    height: 180px;
    margin-left: 16px;
    position: relative;
    background: white no-repeat center;
    background-size: cover;
}

.prod-nav-container {
    text-align: center;
}

.prod-title-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    color: #cfcdce;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #f4f4f4 !important;
}

.home-second-banner {
    height: 500px;
    width: 100%;
    background: url("../images/img1.png") no-repeat center;
    background-size: cover;
}

.more-href {
    color: #e17836;
}

.list-left {
    width: 540px !important;
    height: 360px;
    border-radius: .25rem;
}

.list-right {
    padding-left: 10px;
    width: 570px;
    color: #787677;
}

.header-top .search-box, .header-top .right {
    width: 200px;
}

.header-top .right {
    padding-top: 20px;
    padding-left: 50px;
}

.header-top .search-box {
    margin-top: 20px;
    font-size: 12px !important;
    margin-left: 50px;
}

.i.i-search {
    background-size: 15px 15px;
    background-image: url("../images/search.svg");
}

.header-right-item {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.6;
}

.header-right-item:hover {
    opacity: 1;
}

.header-right-fav {
    background-image: url("../images/heart.svg");
}

.header-right-mobile {
    background-image: url("../images/phone.svg");
}

.header-right-shop {
    background-image: url("../images/shopify.svg");
}

.pos-feedback-s {
    top: 5px;
    right: 3px;
}

input.q-input.q-input-s {
    height: 26px;
    border-radius: 13px;
    padding: 0 26px 0 13px;
    font-size: 12px;
}

.footer-wechat-box {
    width: 190px;
    text-align: center;
    position: relative;
}

.footer-wechat {
    width: 50px;
}

.focus-us {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-wechat:hover + .footer-wechat-code {
    display: block;
}

.footer-wechat-code {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 2px;
    right: -50px;
    border: 1px solid #434343;
}

.footer-wechat-code img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: -20px;
}

.footer-wechat-code-arrow {
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border: 1px solid #434343;
    border-top: 0;
    border-right: 0;
    background-color: white;
    top: 40px;
    left: -10px;
}