@model Post
@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">首页</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">关于我们</li>
    </ol>
</nav>

<div class="mt-2 post-body">
    @Html.Raw(Model?.Body)
</div>