@model Post
@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
    ViewBag.ActiveIndex = 1;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">首页</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/Post/ProductCategory">产品分类</a>
            </li>
            <li class="breadcrumb-item ">
                <a href="/Post/ProductList">产品列表</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">产品详情</li>
        </ol>
    </nav>

    <h1>@Model?.Title</h1>
    <div style="font-size: 14px;" class="text-secondary">
        创建时间:@Model?.Created.ToString("yyy-MM-dd HH:mm")
    </div>

    <div class="mt-2 post-body">
        @Html.Raw(Model?.Body)
    </div>
</div>