<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=1300, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/site.js"></script>
</head>
<body>
<div class="bg-white bg-white border-bottom">
    <div class="blog-header d-flex align-items-center container">
        <div class="blog-header-logo">
            <img src="~/images/logo.png"></img>
        </div>
        <div class="blog-header-right ml-md-auto">
            <ul class="navbar-nav flex-md-row">
                <li class="nav-item px-2">
                    <a href="/admin/">登陆</a>
                </li>|
                <li class="nav-item px-2">
                    全国服务热线：400-123-234-345
                </li>|
                <li class="nav-item px-2">
                    <a href="#" onclick="alert('收藏本站,请使用Ctrl+D进行收藏.')">收藏本站</a>
                </li>|
                <li class="nav-item px-2">
                    <a href="/home/map">网站地图</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="navbarMain" class="  sticky-top">
    <div class="container">
        <ul class="web-nav nav justify-content-end ">
            <li class="nav-item">
                <a class="nav-link active text-light" asp-controller="Home" asp-action="Index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="ProductCategory">产品中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="NewsList">新闻动态</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="Display">空间展示</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="Support">技术支持</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="AboutUs">关于我们</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Post" asp-action="ContactUs">联系我们</a>
            </li>
        </ul>
    </div>
</div>

@RenderBody()

<footer>
    <div class="container" style="height: 100%">

        <div class="d-flex align-items-stretch" style="height: 100%;">
            <div style="height: 100%;">
                <img src="~/images/logo.png" style="height: 70px; margin-top: -4px;" alt=""/>
            </div>
            <div class="d-flex flex-column flex-grow-1 bd-highlight">
                <div class="d-flex align-items-center "style="height: 100%;">
                    <div class="d-flex flex-column bd-highlight" style="text-align: center; margin: 0 auto;">
                        <div class="p-1 bd-highlight">地址：上海市普陀区XX路XX号303 邮编：12345 电话：130-123456 13888888888 邮箱：xxxx@xx.com</div>
                        <div class="p-1 bd-highlight">©1996-2019 上海热线信息网络有限公司版权所有 沪公网安备 123123123123123号</div>
                    </div>
                </div>
            </div>
            <div class=" align-self-center bd-highlight">
                <div class="d-flex ">
                    <p style="writing-mode: vertical-rl;text-orientation: upright;" class="align-self-center mr-1 mb-0">扫一扫</p>
                    <img src="/images/qrcode.jpg" style="width: 86px;height: 86px;"/>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>