@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">当前分类已经存在内容，请修改已经存在的内容。 </h1>
        </header>
        <a href="/Admin/PostCategory/List" class="btn btn-primary">返回</a>
    </div>
</section>