@model PostViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item active">内容管理 </li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">@(Model == null ? "新增内容" : "修改内容")</h1>
        </header>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="myForm" method="post" asp-route="/Admin/Post/Edit" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>类别</label>
                                <select asp-for="PostType" class="form-control">
                                    <option value="0" selected>新闻</option>
                                    <option value="1">产品</option>
                                    <option value="2">关于我们</option>
                                    <option value="3">联系我们</option>
                                    <option value="4">空间展示</option>
                                    <option value="5">技术支持</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>标题*</label>
                                <input type="text" asp-for="Title" placeholder="请输入标题" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>展示图片</label>
                                <input type="file" accept="image/*" asp-for="Icon" placeholder="请选择要展示的图片" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>内容分类*</label>
                                <select asp-for="PostCategoryId" class="form-control">
                                </select>
                            </div>
                            <div class="form-group">
                                <label>内容</label>
                                <textarea asp-for="Body" id="trumbowyg-demo"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="button" onclick="formCommit()" value="提交" class="btn btn-primary mr-2">
                                <a href="/admin/Post/List" target="_self">
                                    <input type="button" value="返回" class="btn btn-secondary">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/lib/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="~/lib/trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>
    <script>
    const postTypeDom = document.getElementsByName("PostType")[0];
    const postCategoryDom = document.getElementsByName("PostCategoryId")[0];
    const iconDom = document.getElementsByName("Icon")[0];
    const titleDom = document.getElementsByName("Title")[0];
    
    function formCommit() {
        if([0,1].indexOf(postTypeDom.value) !=-1){
            if(titleDom.value.trim()==""){
                alert('请将表单补充完整');
                return;
            }
        }
        document.getElementById("myForm").submit();
    }
    
    function bindEditor(){
         $('#trumbowyg-demo').trumbowyg({
                btnsDef: {
                    // Create a new dropdown
                    image: {
                        dropdown: ['insertImage', 'upload'],
                        ico: 'insertImage'
                    }
                },
                // Redefine the button pane
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['image'], // Our fresh created dropdown
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ],
                plugins: {
                    // Add imagur parameters to upload plugin for demo purposes
                    upload: {
                        serverPath: '/Admin/File/Image',
                        fileFieldName: 'file',
                        // headers: {
                        //     'Authorization': 'Client-ID xxxxxxxxxxxx'
                        // },
                       // urlPropertyName: 'fileSrc'
                    }
                }
            });
    }
    
    function bindSecondSelector() {
 
         postTypeDom.onchange = function () {
             firstSelectorChange();
         }
    }
    
    function firstSelectorChange() {
        const firstSelectorDom = postTypeDom;
        const selectedVal=firstSelectorDom.value;
        if((selectedVal=="0"||selectedVal=="1")){
           showOthers(true);
        }
        else {
           showOthers(false);
           clearOthersContent();
        }
        refreshSecondSelector(selectedVal);
    }
    
    function refreshSecondSelector(selectedValue) {
        const secondSelectedAllOptions = JSON.parse( '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AllOptions))');
        const secondSelectorDom = postCategoryDom;
        let secondSelectorHtmlStr = "";
        for (i = 0; i < secondSelectedAllOptions.length; i++)
        {
            if (secondSelectedAllOptions[i].PostType == selectedValue)
            {
                secondSelectorHtmlStr += "<option value='" + secondSelectedAllOptions[i].Value + "'>" + secondSelectedAllOptions[i].Name + "</option>";
            }
        }
        secondSelectorDom.innerHTML = secondSelectorHtmlStr;
    }
    
    function show(dom,isShow) {
        if(isShow){
            dom.style.display = "inline";
        }
        else {
            dom.style.display = "none";
        }
    }
    
    function showOthers(isShow) {
        show(iconDom.parentElement,isShow);
        show(postCategoryDom.parentElement,isShow);
        show(titleDom.parentElement,isShow);
    }
    
    function clearOthersContent() {
        iconDom.value=null;
        postCategoryDom.value=null;
        titleDom.value=null;
    }
    
    (function () {
        bindEditor();
        bindSecondSelector();
        firstSelectorChange();
    })(document, window);
    </script>
}